* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 5rem;
  border-bottom: 0.0625rem solid #ccc;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 5rem;
  border-bottom: 0.0625rem solid #ccc;
}

.container {
  width: 100%;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

#planos {
  padding: 5rem 0;
}

#planos::after {
  content: "";
  clear: both;
}

article {
  border: solid 1px #95a4a5;
  padding: 10px;
  text-align: center;
}

article > h2 {
  /* margin: -0.625rem; */
  background-color: #95a4a5;
  color: #fff;
  line-height: 2.5;
  margin-bottom: 0;
  font-size: 1.25rem;
}

article > div {
  font-size: 1.75rem;
  margin: 1.25rem 0;
}

article > ul {
  list-style: none;
  padding: 0;
  margin: 1.25rem 0;
}

/* .container {
  width: 100%;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
} */

#planos {
  padding: 5rem 0;
}

#planos::after {
  content: "";
  clear: both;
}

article {
  border: solid 0.0625rem #95a4a5;
  padding: 0.625rem;
  text-align: center;
}

/* @media (min-widht: 50rem) {
  article {
    width: 30%;
    float: left;
    margin-right: 5%;
  }
} */

article > h2 {
  /* margin: -0.625rem; */
  background-color: #95a4a5;
  color: #fff;
  line-height: 2.5;
  margin-bottom: 0;
  font-size: 1.25rem;
}

article > div {
  font-size: 1.75rem;
  margin: 1.25rem 0;
}

article > ul {
  list-style: none;
  padding: 0;
  margin: 1.25rem 0;
}

.botao {
  display: inline-block;
  background-color: #127d00;
  color: #fff;
  padding: 0.75rem 1rem;
  text-decoration: none;
  outline: none;
}

.botao:hover {
  background-color: red;
}

.botao:focus {
  background-color: orange;
}
